
:root{
  --YellowSchema-cream: #FFF5DC;      /* light yellowy cream color */
  --YellowSchema-liYellow: #FED777;   /* light yellow */
  --YellowSchema-brYellow: #FCBA12;   /* Bright yellow */
  --YellowSchema-drYellow: #A77802;   /* Dull Yellow */
  --YellowSchema-Brown: #342809;      /* Deep Brown */
}

@media screen and (max-width: 450px ) {
  .title-container{
    width: 100vw;
  }
  .form-size, .view-size{ width: 90vw; }
  #editor, #preview{ overflow: auto;}
}
@media screen and (min-width: 451px) {
  .title-container{
    width: 350px;
  }
  .form-size{ width: 70vw; }
  .view-size{ width: 80vw; }
  #editor{
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

*{box-sizing: border-box;}
body, html, .main-container{
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

}
.main-container{ background-color: var(--YellowSchema-liYellow);}
.title-container{
  display: block;
  margin: 0px auto;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0px;
  background-color: var(--YellowSchema-Brown);
  color: var(--YellowSchema-cream);

}
.title-container a{
  display: block;
  float: right;
  color: var(--YellowSchema-cream);
}
#container{
  /* background-color: var(--YellowSchema-liYellow); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 44px);
}
.form, .viewer{
  position: relative;
  border: 2px solid var(--YellowSchema-Brown);
  overflow: hidden;
  resize: both;
  margin: 15px 0px;
}
.viewer{background-color: var(--YellowSchema-cream);}
.form-size{
  max-width: 850px;
  height: 40vh;
}
.view-size{
  max-width: 950px;
  height: auto;
  min-height: 40vh;
}
.label{
  display: block;
  position: relative;
  width: 100%;
  background-color: var(--YellowSchema-Brown);
  color: var(--YellowSchema-cream);
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding: 6px 8px;
}
.label .icon{
  padding-right: 10px;
  color: var(--YellowSchema-liYellow);
  font-weight: bold;
}
#editor, #preview{
  display:block;
  position: relative;
  width: 100%;
  margin: 0;
  background-color: var(--YellowSchema-cream);
  padding: 15px;
}
#editor{
  resize: none;
  height: calc(100% - 21px);
}
.minPreview{
  height: 40vh; /*calc(100% - 21px); */

}
.maxPreview{
  width: 90vw;
  min-height: 90vh;
  height: auto;
}
.regular{
  position: relative;
  float: right;
  cursor: pointer;
}
.hide{ display: none;}
.show{display: block;}

.maxWindow{
  width: 90vw;
  height: 90vh;
}
